从http常见的状态码到http重定向

# 从http状态码到http重定向

## http状态码

### 状态码的定义及作用
状态码是用以表示**网页服务器超文本传输协议响应状态的3位数字代码**。它由RFC2016规范定义，并得到RFC 2518 , RFC 2817 , RFC 2295 , RFC 2774 与RFC 4918等规范扩展。所有状态码的第一个数字代表了响应的五种状态之一。所示的消息短语是典型的，但是可以提供任何可读取的替代方案。除非另有说明，状态码是HTTP / 1.1标准(RFC 7231)的一部分。

状态码的职责是当客服端向服务器发送请求时，**描述返回的请求结果**。借助状态码，用户就可以知道服务器端是正常处理了请求还是出现了错误。

### 状态码的类别

| 状态码 | 类别 | 原因短语 |
|  ----  | ----  |
| 1XX  | Informational (信息型状态码) | 接收的请求正在处理 |
| 2XX  | Success (成功状态码) | 请求正常处理完毕 |
| 3XX  | Redirection (重定向状态码) | 需要进行附加操作以完成请求 |
| 4XX  | Client Error(客服端错误状态码) | 服务器无法处理请求 |
| 5XX  | Sever Error(服务器错误状态码) |服务器处理请求出错|

### 详解http状态码

#### 2XX —— 表明请求被正确处理了
+ 200 OK ： **请求已正常处理**
+ 204 No Content ： **请求处理成功，但没有任何资源可以返回给客户**，一般只需要从客户端往服务器发送信息，而对客服端不需要发送新信息内容的情况下使用。
+ 206 Partial Content： **是对资源某一部分的请求**，该状态码表示客服端进行了范围请求，而服务器成功执行了这部分的GET请求。响应报文中包含由Content-Range指定范围的实体内容。

### 3XX——表明浏览器需要执行某些特殊的处理以正确处理请求
+ 301 Moved Permanently： **资源的url已更新**，它代表**永久重定向**，请求的资源已经被分配了新的url，以后应使用资源现在所指的url。
+ 302 Found：**资源的url已临时定位到其他位置了**，它代表**临时性重定向**。和301相似，但302代表的资源不是永久性移动，只是临时性性质的。换句话说，已移动的资源对应的url将来还有可能发生改变。
+ 303 See Other：**资源的url已更新**，该它代表由于请求对应的资源存在着另一个url，应使用GET方法定向获取请求新的资源。303状态码和302状态码有着相同的功能，但303状态码明确表示客服端应当采用GET方法获取资源，这是跟302状态码有所区别的地方。
***当301,302,303响应码返回时，几乎所以的浏览器都会把POST改成GET，并删除请求报文内的主体，之后请求会自动再次发送。***
+ 304 Not Modified：**资源已找到，但未符合条件请求。**该状态码表示客服端发送附带条件的请求时(采用GET方法的请求报文中包含If-Match，If-Modified-Since，If-None-Match，If-Range，If-Unmodified-Since中任一首部)服务端允许请求访问资源，但因发生请求未满足条件的情况后，直接返回304。
+ 307 Temporary Redirect：临时重定向。与302有相同发含义。

### 4XX——表明客服端是发生错误的原因所在
+ 400 Bad Request：**服务器端无法理解客服端发送的请求**，请求报文中可能存在语法错误。
+ 401 Unauthorized：该状态码表示**发送的请求需要有通过HTTP认证**(BASIC认证，DIGEST认证)的认证信息。
+ 403 Forbidden：**不允许访问的资源**。该状态码表明对请求的资源访问被服务器拒绝了。(权限，未授权IP等)
+ 404 Not Found：**服务器上没有请求的资源**。路径错误等。

### 5XX——服务器本身发生错误
+ 500 Interal Server Error：内部资源出现故障。该状态码表明**服务器端在执行请求时发生了错误**，也有可能是web应用存在bug或者某些临时故障。
+ 503 Servece Unavailable：该状态码表明服务器暂时处于超负载或正在停机维护，现在无法处理请求。


## http的重定向

### 定义及作用
URL重定向，也成为URL的转发，是一种**当实际资源，如单个页面、表单或者整个web应用被迁移到新的URL下的时候，保持(原有)链接可用的技术**。HTTP协议提供了一种特殊形式的响应——HTTP重定向(HTTP redirects)来执行此类操作。

重定向可实现很多目标：
+ 站点维护或停机期间的临时重定向
+ 永久重定向将在更改站点的URL，上传文件时的进度页等之后保留现有的链接/书签。
+ 上传文件时的表示进度的页面

### 原理
在HTTP协议中，重定向操作由服务器通过发送特殊的响应(如redires)而触发。HTTP协议的重定向响应的状态码为3XX。
浏览器在接收到重定向响应的时候，会采用该响应提供的新的URL，并立即进行加载；大多数情况下，除了会有一小部分性能损失之外，重定向操作对于用户来说是不可见的。

![img](https://mdn.mozillademos.org/files/13785/HTTPRedirect.png)

不同类型的重定向映射可以划分为三个类别：
1. 永久重定向
2. 临时重定向
3. 特殊重定向

#### 永久重定向
这种重定向操作是永久性的。它表示原URL不应再被使用，而应该优先选用新的URL。搜索引擎机器人会在遇到该状态码时触发更新操作，在其索引库中修改与该资源相关的URL。
| 编码| 含义| 处理方法| 典型应用场景|
| ----| --- |
| 301 | Moved Permanently|GET方法不会发生变更，其他方法有可能会变更为GET方法| 网站重构|
| 308 | Permanent Redirect | 方法和消息主体都不发生变化 |网站重构，用于非GET方法|

#### 临时重定向
代表资源移动了位置。有时候请求的资源无法从其标准地址访问，但是却可以从另外的 地方访问。在这种情况下可以使用临时重定向。
搜索引擎不会记录该新的、临时的链接、在创建、更新或者删除资源的时候，临时重定向也可以用于**显示临时性的进度页面。**
| 编码 | 含义 | 处理方法 | 典型应用场景 |
| --- | --- |
| 302 | Found   | GET方法不会发生变更，其他方法有可能会变更为GET方法 | 由于不可遇见的原因该页面暂不可用。在这种情况下，搜索引擎不会更新它们的链接。|
| 303 | See Other | GET方法不会发生变更，其他方法会变更为GET方法(消息主体会丢失) | 用于PUT或POST请求完成之后进行页面跳转来防止由于页面刷新导致的操作的重复触发。 |
| 307 | Temporary Redirect | 方法和消息主体都不发生变化 | 由于不可预见的原因该页面暂不可用。在这种情况下，搜索引擎不会更新它们的链接。当站点支持非GET方法的链接或操作的时候，该状态码优先于302状态码 |

307状态码被创建用来消除在使用非GET方法时的歧义行为。

#### 特殊重定向
除了上述两种常见的重定向之外，还有两种特殊的重定向。`304(Not Modified , 资源未被修改)`会使页面跳转到本地陈旧的缓存版本当中，而`300(Multiple Choice,多项选择)`则是一种手工重定向：以Web页面形式显示呈现在浏览器中的消息主体包含了一个可能的重定向连接的列表，用户可以从中进行选择。
| 编码 | 含义 | 典型应用场景 |
| --- | --- | --- |
| 300 | Multiple Choice | 不常用：所有的选项在消息主体的HTML页面中列出。鼓励在<link>头部中加入机器可读的 rel = alternate |
| 304 | Not Modified | 发送用于重新验证的条件请求。表示缓存的响应仍然是新鲜的并且可以使用。|

### 设置重定向映射的其他方法
HTTP协议中重定向机制并且唯一的重定向映射的方式。其他两种方法包括：
1. 借助HTML的meta元素的HTML重定向机制
2. 借助DOM的JavaScript重定向机制

#### HTML重定向机制
HTTP协议中重定向机制是应该优先采用的重建重定向映射的方式，但是有时候web开发者对于服务器没有控制权，或者无法对其进行配置。针对这些特定的应用场景，Web开发者可以在精心制作的HTML的`<head>`部分添加一个`<meta>`元素，并将其`http-equiv`属性的值设置为refresh。**示页面的时候，浏览器会检测该元素，然后跳转到指定的页面。**

```html
<head>
	<meta http-equiv="Refresh" content ="0;URL =http://example.com/" />
</head>
```

`content`属性的值开头是一个数字，指示浏览器在等待该数字的秒数之后再进行跳转。建议始终将其设置为0来获取更好的可访问性。

显然，该**方法仅适用于HTML页面(或类似的页面)，然而并不能应用于图片或者其他类型的内容。**

***注意这种机制会使浏览器的回退按钮失效：可以返回含有这个头部的页面，但是又会立即跳转。***

#### JavaScript重定向机制

在JavaScript中，重定向机制的原理是设置`wnidow.location`的属性值，然后加载新的页面

```javascript
window.location = "http://example.com/"
```

与HTML重定向机制类似，这种方式并不适用于所有类型的资源，并且显然只有在支持JavaScript的客户端上才能使用。另一方面，它提供了更多的可能性，比如在只有满足了特定的条件的情况下才能触发重定向机制的场景。

### 优先级
由于存在上述三种URL重定向机制，那么在多种方法同时设定的情况下，哪种方法会首先起作用呢？
优先级顺序如下：
1. HTTP协议的重定向机制永远最先触发，即便是在没有传送任何页面——也就没有页面被客户端读取——的情况下。
2. HTML的重定向机制(`<meta>`)会在HTTP协议重定向机制未设置的情况下触发。
3. JavaScript的重定向机制总是作为最后诉诸的手段，并且只有在客户端开启了JavaScript的情况下才起作用。

任何情况下，只要有可能，就应该采用HTTP协议的重定向机制，而不要使用`<meta>`标签。假如开发人员修改了HTTP重定向映射而忘记修改HTML页面的重定向映射，那么二者就会不一致，最终结果或者出现无限循环，或者导致其他噩梦的发生。

#### 更多的重定向功能
在通用服务器中配置重定向
比如说就Apache配置重定向映射来设置用户在访问的时候给响应302或者其他的响应状态码。或者nginx创建一个服务器模块来进行重定向配置。

参考资料：
> 图解HTTP [日] 上野·宣 著于均良 译
> MDN Web Docs HTTP部分